body {
    min-width: 1200px;
}

button {
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=range]:focus {
    outline: none;
}

#title {
    max-width: 80%;
    margin: 15px 10px;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}

.grid-container {
    display: grid;
    gap: 2px;
}

#grid-div {
    grid-template-rows: 10% 85% auto;
}

.horizon-div {
    width: 100%;
    min-height: 50px;
    background-color: lightblue;
}

#main-div {
    width: 100%;
    min-height: 60%;
    overflow: auto;
    grid-template-columns: 3fr 16fr;
}

#footer-div {
    text-align: right;
}

#credit {
    padding: 0px 50px;
}

.vertical-div {
    padding: 5px;
    overflow: hidden;
    background-color: aliceblue;
}

#left-div {
    grid-template-rows: 3fr 1fr;
    min-width: 125px;
}

#middle-div {
    overflow: auto;
    grid-template-rows: 2fr 20fr 2fr;
}

#svg-div {
    min-width: 800px;
    height: 600px;
    outline: 2px solid lightsteelblue;
    border-radius: 25px;
    overflow: hidden;
}

#svgGeoMap {
    width: 100%;
    height: 100%;
}

#time-selection {
    text-align: center;
    grid-template-columns: 5fr 1fr;
}

#time-slide {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: auto;
    width: 95%;
    height: 16px;
    border-radius: 10px;
    outline: none;
    background: linear-gradient(to right, azure 0%, cadetblue 0% 100%);
}

#time-slide::-webkit-slider-runnable-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightsteelblue;
}

#time-slide::-moz-range-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: cadetblue;
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightsteelblue;
}

#time-slide::-moz-range-progress {
    background: linear-gradient(azure, azure) no-repeat;
    height: 12px;
    border-radius: 10px;
}

#time-slide::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 36px;
    width: 20px;
    border: 1px solid whitesmoke;
    background-color: slategray;
    border-radius: 10px;
    margin-top: -10px;
}

#time-slide::-webkit-slider-thumb:active {
    background-color: darkslategray;
}

#time-slide::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    height: 30px;
    width: 20px;
    border: 1px solid lightgray;
    background-color: slategray;
    border-radius: 10px;
}

#time-slide::-moz-range-thumb:active {
    background-color: darkslategray;
}

#time-output {
    margin: auto;
    font-size: large;
    white-space: pre-line;
}

#zoom-selection {
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 5px;
}

#zoom-label {
    grid-column: 3;
    grid-row: 2;
}

.zoom-btn {
    grid-column: 3;
}

#zoom-in-btn {
    grid-row: 1;
}

#zoom-out-btn {
    grid-row: 3;
}

#zoom-div {
    grid-column: 2;
    grid-row: 1 / span 3;
    display: inline-block;
    height: 160px;
    width: 40px;
    padding: 0;
    margin: auto;
    text-align: right;
}

#zoom-slide {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    width: 160px;
    height: 40px;
    margin: 0;
    transform-origin: 80px 80px;
    transform: rotate(-90deg);
}

#zoom-slide::-webkit-slider-runnable-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    background: azure;
    border-radius: 5px;
    box-shadow: 0px 0px 5px lightsteelblue;
}

#zoom-slide::-moz-range-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    background: azure;
    border-radius: 5px;
    box-shadow: 0px 0px 5px lightsteelblue;
}

#zoom-slide::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    width: 15px;
    border: none;
    background-color: slategray;
    border-radius: 5px;
    margin-top: -9px;
}

#zoom-slide::-webkit-slider-thumb:active {
    background-color: darkslategray;
}

#zoom-slide::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    height: 30px;
    width: 15px;
    border: none;
    background-color: slategray;
    border-radius: 5px;
}

#zoom-slide::-moz-range-thumb:active {
    background-color: darkslategray;
}

#zoom-label {
    margin: auto;
    font-size: large;
    font-weight: bold;
    font-size: medium;
    color: slategray;
}

.zoom-btn {
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.zoom-btn button {
    width: 35px;
    height: 35px;
    background-color: slategray;
    color: white;
    font-size: x-large;
    border-radius: 8px;
    border: 2px solid gray;
    box-shadow: 0 3px lightgray;
}

.zoom-btn button:hover {
    background-color: gray;
}

.zoom-btn button:active {
    background-color: gray;
    box-shadow: 0 1px lightgray;
    transform: translateY(2px);
}

#attr-selection {
    margin: 10% auto;
    width: 90%;
    grid-auto-rows: auto;
}

#attr-selection .navigator-bar {
    margin: 10px 0px;
}

.navigator-bar {
    background-color: azure;
    display: block;
    color: black;
    font-size: larger;
    border-radius: 8px;
    border: 2px solid lightblue;
    box-shadow: 0 3px lightgray;
}

.navigator-bar:hover {
    background-color: gray;
    color: white;
}

.navigator-bar:active {
    box-shadow: 0 1px lightgray;
    transform: translateY(2px);
}

.selectedBtn {
    box-shadow: 0 1px lightgray;
    transform: translateY(2px);
    background-color: cadetblue;
}

#location-selection {
    margin: auto 0;
    padding: 10px 20px;
    font-size: larger;
}

#location-select {
    font-size: large;
}

.region-select {
    font-size: medium;
}

.middle-selection {
    max-height: 60px;
}

.notification-text {
    text-anchor: middle;
    font-size: x-large;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#pathRegion {
    stroke: white;
    stroke-width: 0.2px;
    fill: lightslategray;
    cursor: pointer;
}

#pathRegion:hover {
    fill: lightgray;
    stroke: blanchedalmond;
    stroke-width: 1px;
}

#pathRegion:active {
    stroke-width: 2px;
}

#pathUnincorporated {
    stroke: white;
    stroke-width: 0.2px;
    fill: gray;
}

.moveableDiv {
    position: absolute;
    display: none;
    pointer-events: none;
    opacity: 75%;
}

#region-tip {
    padding: 5px;
    font-size: larger;
    color: white;
    outline-width: 1px;
    border-radius: 5px;
    background-color: darkolivegreen;
}

#region-chart {
    top: 200px;
    right: 0px;
    height: 500px;
    background-color: white;
    border-radius: 0px 25px 25px 0px;
    text-align: center;
    font-size: larger;
    transform: translateX(800px);
}

#chart-tip {
    padding: 10px;
    font-size: large;
    color: whitesmoke;
    stroke: black;
    outline-width: 1px;
    border-radius: 5px;
    background-color: dimgray;
}

#svgChart {
    width: 100%;
    height: 100%;
}

#textChartTitle {
    text-anchor: middle;
}

.lineLeft {
    fill: none;
    stroke: orange;
    stroke-width: 2px;
}

.lineRight {
    fill: none;
    stroke: red;
    stroke-width: 2px;
}

.axis text {
    font-size: medium;
}

.chartLabel {
    text-anchor: middle;
    fill: black;
}

.dataPoint {
    stroke: none;
    fill: lightsalmon;
    opacity: 10%;
    pointer-events: fill;
    transition: opacity 0.5s;
}

.dataPoint:hover {
    opacity: 80%;
    transition: opacity 0.5s;
}